@charset "UTF-8";
.nav {
  background-color: #fff;
  padding: 0.4rem 0 0.6rem;
}
.nav .list {
  width: 6rem;
  margin: 0 auto;
}
.nav .list li {
  float: left;
  border: 0.02rem solid #bfbfbf;
  background-color: #f4f4f4;
  padding: 0.26rem 0.2rem;
  margin: 0 0.1rem 0.1rem 0;
}
.nav .list a {
  display: block;
}
.nav .list a img {
  width: 0.32rem;
  height: 0.32rem;
  display: inline-block;
  vertical-align: bottom;
}
.nav .list a span {
  font-size: 0.28rem;
  margin-bottom: 10px;
}
